<section class="gallery pt-[30px] lg:pt-[100px] my-[15px] lg:my-[150px]">
    <div class="container w-full max-w-full mx-auto px-10">
        {% if section.settings.section_title != blank %}
            <div class="flex flex-nowrap w-full justify-between gap-10">
                <div class="item item-one w-full text-center">
                    <h3 class="text-white uppercase text-[40px] lg:text-[80px] leading-[112%] font-[400] uppercase">{{ section.settings.section_title }}</h3>
                </div>
            </div>
        {% endif %}
        <div class="mt-[20px] lg:mt-[60px] gallery-slider max-w-full mx-auto  pt-5 px-[15px]">
            <div class="slick-hero mx-auto flex items-center justify-center">
                {% for block in section.blocks %}
                    <div class="slide-item">
                        {% if block.settings.slide_image %}
                            <img src="{{ block.settings.slide_image | img_url: 'master' }}"
                                 alt="{{ block.settings.slide_title | escape }}">
                        {% endif %}

                        {% if block.settings.slide_title != blank %}
                            <h3>{{ block.settings.slide_title }}</h3>
                        {% endif %}

                        {% if block.settings.slide_text != blank %}
                            <p>{{ block.settings.slide_text }}</p>
                        {% endif %}

                        {% if block.settings.slide_link != blank %}
                            <a href="{{ block.settings.slide_link }}" class="slide-btn">Learn More</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<script>
	jQuery(document).ready(function($) {

		var $slider = $('.slick-hero');
		if (!$slider.length) return;

		function updateSizes() {
			var $slides = $slider.find('.slick-slide');
			var centerSlide = $slider.find('.slick-center');
			if (!centerSlide.length) return;

			var centerIndex = centerSlide.data('slick-index');

			$slides.removeClass(
				'post-1 post-2 post-3 post-4 post-5 slide-big slide-medium slide-small'
			);

			$slides.each(function () {
				var slideIndex = $(this).data('slick-index');
				var diff = Math.abs(centerIndex - slideIndex);

				if (diff === 0) {
					// CENTER SLIDE
					$(this).addClass('post-3 slide-big');
				}

				else if (diff === 1) {
					// NEIGHBORS
					if (slideIndex < centerIndex) {
						$(this).addClass('post-2 slide-medium'); // LEFT
					} else {
						$(this).addClass('post-4 slide-medium'); // RIGHT
					}
				}

				else if (diff === 2) {
					// FAR LEFT / FAR RIGHT
					if (slideIndex < centerIndex) {
						$(this).addClass('post-1 slide-small'); // FAR LEFT
					} else {
						$(this).addClass('post-5 slide-small'); // FAR RIGHT
					}
				}

				else {
					// Everything else
					$(this).addClass('slide-small');
				}
			});
		}


		$slider.on('init afterChange', updateSizes);

		$slider.slick({
			centerMode: true,
			centerPadding: '100px',
			slidesToShow: 5,
			infinite: true,
			arrows: false,
			focusOnSelect: true,
			variableWidth: false,
			autoplay: true,
			autoplaySpeed: 2000,
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3,
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});

	});
</script>



{% schema %}
{
    "name": "Slick Slider",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Featured Slider"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                { "type": "image_picker", "id": "slide_image", "label": "Image" },
                { "type": "text", "id": "slide_title", "label": "Title" },
                { "type": "textarea", "id": "slide_text", "label": "Description" },
                { "type": "url", "id": "slide_link", "label": "Link (optional)" }
            ]
        }
    ],
    "max_blocks": 10,
    "presets": [
        {
        "name": "Slick Slider",
        "category": "Image"
        }
    ]
}
{% endschema %}
